*{
	margin:0;
	padding:0;
    outline: 0;
}

html, body{
	height:100%;
}

body{
	background-color:#EDEDED;
	color:#868686;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.5px;
	line-height:1.2em;
    overflow-x: hidden;
}

.bold{
    font-weight:600;
}

.clear{
    clear:both;
}

.relative{
    position:relative;
}

.center{
    text-align: center;
}

a{
	color:#C32F34;
	text-decoration: underline;
}

.main{
    width:1200px;
    padding:0 40px;
    margin:auto;
    position:relative;
}

.main_header{
    background-color:#000;
    border-top:4px solid #C32F34;
    width:100%;
    padding:20px 0;
    text-align:center;
    font-size:14px;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
}

h1 {
    color:#333;   
}

h2{
    font-size: 33px;
    font-weight: 400;
    margin-bottom: 20px;
    color:#333;
    font-family: 'Fira Sans', sans-serif;
    margin-top:40px;
}

h3{
    font-size:20px;
    font-weight:600;
    margin-bottom:20px;
    color:#333;
}

h4{
    margin-bottom:10px;
    color:#333;
    font-size:18px;
}

.clear{
    clear:both;
}

.head_text{
    color: #868686;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    width: 750px;
    margin:auto;
    margin-bottom: 40px;
}

a{
    transition: color 0.3s ease;
}

.menu li a:hover{
    color:white;
}

p{
    font-size:14px;
    color:#868686;
}

.short_about_wrapper{
    height:100vh;
    width:100%;
    background-attachment: fixed;
    background-position: center;
    background-size:100% auto;
    background-image:url('../images/background3.jpg');   
}



.menu li{
    margin:0 15px;
    display:inline-block;
}

.menu li a{
    color:#868686;
    transition: color 0.3s ease;
    text-decoration:none;
}

.menu li a.active{
    color:white;
}

.short_about_inner_wrapper{
    width:100%;
    height:100%;
    overflow:auto;
}

.myphoto_wrapper{
    opacity:0.8;
    width:150px;
    height:150px;
    border-radius:50%;
    border:4px solid #222;
    overflow:hidden;
    margin:35vh auto  0;
}

.myphoto{
    width:150px;
}

.portfolio_wrapper{
    height:500px;
}

.short_description_title{
    display:none;
}

.short_description {
    color: white;
    margin: 30px auto;
    text-align: center;
    width: 690px;
    font-size: 20px;
    line-height: 31px;
}

.section{
    padding:40px 0;
}

.projects_section{
	background-color:white;
}

.project_wrapper{
    float:left;
    margin-right:20px;
    width:382px;
    margin-bottom:50px;
    min-height:380px;
}

.project_image_wrapper{
    position:relative;
    display:block;
    cursor:pointer;
}

.project_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}

.view_website{
    display:inline-block;
    color:white;
    position:relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    border:2px solid white;
    padding:5px 10px;
    border-radius:5px;
}

.gallery{
    display:none;
}

.first_gallery{
    display:block;
}


.project_image_wrapper img, .gallery img{
    /*filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
    /*filter: grayscale(100%); /* IE6-9 */
    /*-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    width:382px;
    height:215px;
    border:1px solid #efefef;
}

.project_wrapper:nth-child(3n){
    margin-right:0;
}

.project_title{
    margin:10px 0;
    color:#333;
    font-size:18px;
    display:inline-block;
    text-decoration: none
}

.project_text{
	font-weight:300;
}

.tags_wrapper{
	margin-bottom:10px;
}

.tags{
    background: #C32F34;
    border-radius: 4px;
    color: #fff;
    display: inline;
    font-size: 12px;
    line-height: 32px;
    padding: 4px 9px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    white-space:nowrap;
}

.referal_wrapper{
    width:750px;
    margin:auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.referal_text{
    color:white;
    font-size:30px;
    line-height:38px;
    font-weight: 300;
    font-style: italic;
}

.referal_author_wrapper{
    margin-top:20px;
}

.referal_author_wrapper p{
    color:white;
}

.author_name{
    font-weight:500;
}

.author_position{
    font-weight:300;
}

.author_position a{
    font-weight:400;
}
/*REFERALS*/

.referals_title{
    display:none;
}

.referals_section{
	margin-bottom:20px;
}

.slide{
    background-repeat:none;
    background-position: center;
    background-size: 100% auto;
	height:500px;
}

.slide_background{
    background-image:url('../images/background2.jpg');
    height:500px;
    width:100%
}

.inner_slide{
    background-color:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
}

.owl-theme .owl-controls .owl-page span{
    background: #C32F34 none repeat scroll 0 0;
}

.linkedin{
    background-color: #333;
    border-radius: 50%;
    color: white;
    display: inline-block;
    padding: 4px 8px;
    transition: color 0.3s ease;
}

.linkedin:hover{
    color:#0077B5;
}

/*TIMELINE*/


.step_title{
    float:left;
    font-weight:600;
    color:#333;
    font-size:18px;
    text-decoration: none;
    margin-bottom:10px;
}

.step_date{
    color:#999;
    float:right;
}

.step_position{
    clear:both;
    color:#666;
}

.step_text{
    margin-top:20px;
    clear:both;
}

.fa-tags{
    color:#333;
}

.timeline_step{
	background-color:white;
	padding:20px;
	width:500px;
	clear:both;
	position:relative;
    border-bottom:1px solid #bbb;
}

.special_references{
    color:#C32F34;
    font-weight:600;
}

.step_tags{
    margin-top:20px;
    
}

.timeline_step{
    opacity:0;
}

.current_year{
    margin-bottom:70px;
    text-align:center;
    font-size:21px;
}

.first_year{
    margin-top:70px;
    text-align:center;
    font-size:21px;
}

.timeline_step:nth-child(even){
	float:right;
    left:350px;
}

.timeline_step:nth-child(odd){
    float:left;
    left:-350px;
}

.timeline_left_triangle, .timeline_right_triangle{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 0; 
	height: 0; 
}

.timeline_right_triangle{
    position:absolute;
	left:-14px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right:15px solid #fff;

}

.timeline_left_triangle{
	position:absolute;
	right:-14px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fff;
}

.timeline_center_line{
	width:4px;
	background-color:white;
	position:absolute;
	left:50%;
	margin-left:-2px;
    top:35px;
}

.timeline_left_icon, .timeline_right_icon{
	width:58px;
	height:58px;
    border:5px solid #fff;
    color:white;
	background-color:#333;
	border-radius:50%;
	top:50%;
	margin-top:-30px;
    font-size:28px;
    text-align:center;
}

.timeline_icon{
    display:block;
}

.timeline_left_icon .fa, .timeline_right_icon .fa{
    position: relative;
    display:inline-block;
    margin-top:15px;
    /*top: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);*/
}

.timeline_left_icon{
	position:absolute;
	right:-93px;
}

.timeline_right_icon{
	position:absolute;
	left:-93px;
}

.fa-arrow-right{
    color:#C32F34;
    font-size:14px !important;
}

/*FOOTER*/
.site_footer{
    padding:40px 0;
    background-color:#333;
}

.about_me_title{
    color:white;
}

.about_me{
    color:white;
    width:420px;
    margin-right:30px;
    float:left;
}

.about_me p{
    color:white;
}

.footer_right{
    bottom: 0;
    float: right;
    position: absolute;
    right: 40px;
    text-align: right;
}

.footer_right a{
    font-size:30px;
    text-decoration: none;
    color:white;
    margin-left:10px;
}

.footer_right a:hover{
    color:#888;
}

.copyright{
    clear:both;
    margin-top:10px;
    font-size:12px;
    font-weight:300;
}

/*MEDIA QUERIES*/
@media (max-width: 1200px) {
  .main {
    width:90%;
    padding:0 5%;
  }

  .project_wrapper {
        float: left;
        margin-bottom: 50px;
        margin-right: 5%;
        min-height: 380px;
        width: 30%;
    }

    .project_image_wrapper img, .gallery img {
        border: 1px solid #efefef;
        height: auto;
        width: 100%;
    }

    .current_year{
        margin-bottom:150px;
    }

    .first_year{
        margin-top:150px;
    }

    .timeline_step {
        clear: both;
        padding: 20px 5%;
        position: relative;
        width: 90%;
        margin-bottom:130px;
    }

    .timeline_step:nth-child(even){
        float:inherit;
        left:0;
    }

    .timeline_step:nth-child(odd){
        float:inherit;
        left:0;
    }

    .timeline_left_triangle, .timeline_right_triangle{
        display:none;
    }

    .timeline_left_icon, .timeline_right_icon {
        background-color: #333;
        border: 4px solid #fff;
        border-radius: 50%;
        color: white;
        font-size: 28px;
        height: 58px;
        margin-top: -30px;
        text-align: center;
        top: -60px;
        width: 58px;
        left:50%;
        margin-left:-31px;
    }

    .step_tags{
        white-space:normal;
    }
}

@media (max-width: 1000px) {
    .project_wrapper {
        float: left;
        margin-bottom: 50px;
        margin-right: 6%;
        min-height: auto;
        width: 47%;
    }

    .project_wrapper:nth-child(3n){
        margin-right:5%;

    }

    .project_wrapper:nth-child(2n){
        margin-right:0;   
    }
}

@media (max-width: 800px) {

  .myphoto_wrapper{
        opacity:0.8;
        width:150px;
        height:150px;
        border-radius:50%;
        border:4px solid #222;
        overflow:hidden;
        margin:20vh auto  0;
    }

    .menu{
        text-align: center
    }
  
    .short_description{
        width:100%;
        font-size:18px;
    }

    .head_text{
        width:100%;
    }

    .project_wrapper {
        float: inherit;
        margin-bottom: 40px;
        margin-right: 0px;
        min-height: auto;
        height: auto;
        width: 100%;
    }

    .slide_background{
        height:300px;
    }

    .slide {
        height: 300px;
    }


    .referal_text {
        color: white;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        line-height: 21px;
    }

    .referal_wrapper {
        margin: auto;
        position: relative;
        top: inherit;
        transform: none;
        width: 90%;
        margin:40px 5% 0;
    }

    .inner_slide{
        overflow:auto;
    }

    /*.current_year{
        margin-bottom:150px;
    }

    .first_year{
        margin-top:150px;
    }

    .timeline_step {
        clear: both;
        padding: 20px 5%;
        position: relative;
        width: 90%;
        margin-bottom:130px;
    }

    .timeline_step:nth-child(even){
        float:inherit;
        left:0;
    }

    .timeline_step:nth-child(odd){
        float:inherit;
        left:0;
    }

    .timeline_left_triangle, .timeline_right_triangle{
        display:none;
    }

    .timeline_left_icon, .timeline_right_icon {
        background-color: #333;
        border: 4px solid #fff;
        border-radius: 50%;
        color: white;
        font-size: 28px;
        height: 58px;
        margin-top: -30px;
        text-align: center;
        top: -60px;
        width: 58px;
        left:50%;
        margin-left:-31px;
    }

    .step_tags{
        white-space:normal;
    }*/

    .step_title{
        float:inherit;
        margin-bottom:5px;
        display:block;
        line-height: 24px;
    }

    .step_date{
        float:inherit;
        margin-bottom:10px;
    }

    .about_me {
        color: white;
        float: inherit;
        margin-right: 0;
        width: 100%;
    }

    .footer_right {
        margin-top:30px;
        margin-bottom:20px;
        float: inherit;
        position: relative;
        right: auto;
        text-align: left;
    }

    .social_wrapper:first-child{
        margin-left:0;
    }

    .site_footer{
        padding:20px 0;
        padding-bottom:5px;
    }

    .menu li{
        margin:0 3%;
    }

    .menu li:first-child{
        margin-left:0;
    }

    .menu li:last-child{
        margin-right:0;
    }
}
</style>